<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.example.staticumlprofile.incquery.StaticUmlProfile" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.example.staticumlprofile.incquery.StaticUmlProfile" id="org.example.staticumlprofile.incquery.StaticUmlProfile"/>
  </extension>
</plugin>
